<% layout('layouts/boilerplate') %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <br><br>
    <h3>Create New Listing</h3>
    <form method="POST" action="/listings">
      <div class="mb-3">
        <label for="title" class="form-label">Title : </label>
        <input
          type="text"
          name="listing[title]"
          id="title"
          class="form-control"
          placeholder="Add a catchy title"
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description : </label>
        <textarea
          name="listing[description]"
          id="description"
          cols="20"
          rows="2"
          class="form-control"
          placeholder="Describe your listing in a few words"
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image URL : </label>
        <input
          type="text"
          name="listing[image]"
          id="image"
          class="form-control"
          placeholder="Enter the URL of the image"
        />
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price : </label>
          <input
            type="number"
            name="listing[price]"
            id="price"
            class="form-control"
            placeholder="Enter the price"
          />
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country : </label>
          <input
            type="text"
            name="listing[country]"
            id="country"
            class="form-control"
            placeholder="Enter the country"
          />
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location : </label>
        <input
          type="text"
          name="listing[location]"
          id="location"
          class="form-control"
          placeholder="Enter the location"
        />
      </div>

      <br />

      <button class="btn btn-dark add-btn mt-3">Add</button>
      <br><br>
    </form>
  </div>
</div>
